<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>frotelcarrier</name>
	<displayName><![CDATA[Frotel post service]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Frotel&#039;s shipping module]]></description>
	<author><![CDATA[Persian Prestashop]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<confirmUninstall>plaese read the document before uninstall this module</confirmUninstall>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries>ir</limited_countries>
</module>